<div class='row'>
<div class='col-lg-6b card-boxblock'>
<a href="#" class="card bg-dark text-white second__card">
<img class="img-fluid card-img opacity-25 second__card-img" src="{{background_image}}" alt="...">
<div class="card-img-overlay">
<img class="card-img-top w-25 d-none d-xl-block second__card-preview" src="{{image}}" alt="1">
<h5 class="card-title mt-4 fs-2 second__card-title">{{text_title}}</h5>
<p class="card-text fs-5 second__card-description">{{text}}</p>
<p class="card-text mt-auto fs-6 second__card-date">{{last}}</p>
</div>
</a>
</div>
</div>